/.idea
/gen
/out
/lev-organizer.iml
/sliding-menu/gen/com/jeremyfeinstein/slidingmenu/lib/BuildConfig.java
/sliding-menu/gen/com/jeremyfeinstein/slidingmenu/lib/Manifest.java
/sliding-menu/gen/com/jeremyfeinstein/slidingmenu/lib/R.java
